body {
  text-align: center;
}
#pageWrap {
  width: 960px;
  margin: 0 auto;
  background-color: #afafaf;
}
#header img {
  width: 300px;
  height:auto;
}
#header, #footer {
  width: inherit;
  margin: 0 auto;
  padding: 0;
  border: 1px dotted black;
}
#footer {
}
.container {
  width: 220px;
  background-color: #fff;
}
#pageWrap > ul > li {
  position: absolute;
}

div {
  display: inline-block;
  margin: 10px auto;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}
ul {
  list-style-type: circle;
  list-style-position: inside;
  padding :10px;
  margin-top: 10px;
  text-align: left;
}
li {
  font-weight: normal;
}
ul, #pageWrap > li:last-child, tr:last-child, td:first-child {
  font-weight: bold;
}
#pageWrap > li:last-child {
  font-size: 18px;
  margin-top: 10px;
}
#header > ul {
  list-style-type: none;
  display: inline-flex;
  float: right;
}
#header > li {
  /*float: left;*/
}
form {
  width: 800px;
  margin: 0 auto;
}
table {
  background-color: #fff;
  width: inherit;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}
tr:last-child > td {
  border-bottom: 0px;
}
td {
  border-bottom: 1px dotted black;
}
th {
  padding-bottom: 10px;
}
.clear {
  margin: 0 auto;
  border: 0px;
}
.nameField{
  /*float: left;*/
  width: 30%;
}
.numField{
  width: 10%;
}
button {
  float: right;
  width: 60px;
  height: 21px;
  border-radius: 6px;
}
fieldset {
  padding: 10px;
  background-color: #fff;
}
label {
  margin-left: 10px;
}
legend {
  border-radius: 6px;
  background-color: salmon;
  padding: 2px;
}
.floatL {
  float: left;
  border: 0px;
}
.floatR {
  float: right;
  border: 0px;
}
