html {
  position: relative;
}
body {
  text-align: center;
  min-height: 800px;
}
#pageWrap {
  width: 960px;
  min-height: inherit;
  margin: 0 auto;
  background-color: #afafaf;
}
#header, #footer {
  width: inherit;
  margin: 0 auto;
  padding: 0;
  border: 0;
}
#header {
  border-bottom: 1px solid black;
}
.headImg {
  float: left;
  width: 250px;
}
#footer {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 47px;
}
.container {
  width: 220px;
  background-color: #fff;
}
#pageWrap > ul > li {
  position: absolute;
  width: 300px;
}
.aside {
  width: 250px;
  min-height: inherit;
  margin-left: 15px;
  padding: 0;
}
.asideImg {
  width: inherit;
}
.asideText {
  margin-bottom: 20px;
  border: 0;
}
.main {
  height: 200px;
  overflow: hidden;
  width: 650px;
  float: left;
}
.desc {
  text-align: left;
}
.content {
  min-height: 578px;
  float: left;
  width: 650px;
}
div {
  display: inline-block;
  margin: 10px auto;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}
ul {
  list-style-type: circle;
  list-style-position: inside;
  padding :10px;
  margin-top: 10px;
  text-align: left;
}
li {
  font-weight: normal;
}
h3 {
  margin-top: 20px;
}
.smalla, .smallb {
  list-style-type: none;
  margin-bottom: 20px;
  height: 100px;
}
.smalla h3, .smallb img {
  float: right;
}
.smallb h3 {
  float: left;
}
.smalla h3, .smallb h3 {
  text-align: left;
  width: 460px;
  height: inherit;
  margin: 0 auto;
}
li > img {
  width: 150px;
  height: inherit;
}
ul, #pageWrap > li:last-child, tr:last-child, td:first-child {
  font-weight: bold;
}
#pageWrap > li:last-child {
  font-size: 18px;
  margin-top: 10px;
}
#header > ul {
  list-style-type: none;
  display: inline-flex;
  margin-bottom: 0;
  position: absolute;
}
#header > ul > li {
  padding-left: 10px;
  padding-right: 10px;
}
form {
  width: 800px;
  margin: 0 auto;
}
table {
  background-color: #fff;
  width: inherit;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}
#cookieStandData > tr {
  line-height: 20px;
}
tr:last-child > td {
  border-bottom: 0px;
}
td {
  border-bottom: 1px dotted black;
}
th {
  padding-bottom: 10px;
}
.clear {
  margin: 0 auto;
  border: 0px;
}
.nameField{
  /*float: left;*/
  width: 30%;
}
.numField{
  width: 10%;
}
button {
  float: right;
  width: 60px;
  height: 21px;
  border-radius: 6px;
}
fieldset {
  padding: 10px;
  background-color: #fff;
  margin-top: 10px;
}
label {
  margin-left: 10px;
}
legend {
  width: 300px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: #fff;
  padding: 2px;
}
.floatL {
  float: left;
  border: 0px;
}
.floatR {
  float: right;
  border: 0px;
}
